<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mkch.youshi">
    <!--xutils3网络图片和缓存-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--登录时查看UUID-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--读取手机联系人-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--检查Activity是否显示-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--调用照相机扫描二维码-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 振动-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".config.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!-- 联系人 -->
        <activity android:name=".activity.AddFriendsActivity" />
        <activity
            android:name=".activity.NewFriendActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhoneContactsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.FriendInformationActivity" />
        <activity android:name=".activity.InformationSettingActivity" />
        <activity android:name=".activity.RemarkInformationActivity" />
        <activity
            android:name=".activity.SearchResultActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <!--我的-->
        <activity android:name=".activity.UserLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.UserRegPhoneActivity" />
        <activity android:name=".activity.UserRegCodeActivity" />
        <activity android:name=".activity.UserRegUserNameActivity" />
        <activity android:name=".activity.UserForgotPasswordActivity" />
        <activity android:name=".activity.UserForgotCodeActivity" />
        <activity android:name=".activity.UserInformationActivity" />
        <activity android:name=".activity.MyFileActivity" />
        <activity android:name=".activity.MyCollectionActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.ReviseNameActivity" />
        <activity android:name=".activity.ReviseYoushiNumberActivity" />
        <activity android:name=".activity.ReviseSignatureActivity" />
        <activity android:name=".activity.FilePreviewActivity" />
        <activity android:name=".activity.FilePreviewPicActivity" />
        <activity android:name=".activity.DropBoxFileActivity" />
        <activity android:name=".activity.ScheduleFileActivity" />
        <activity android:name=".activity.ScheduleDetailActivity" />
        <activity android:name=".activity.AccountAndSafetyActivity" />
        <activity android:name=".activity.RevisePhoneActivity" />
        <activity android:name=".activity.RevisePhoneCodeActivity" />
        <activity android:name=".activity.RevisePasswordActivity" />
        <activity android:name=".activity.AccountProtectActivity" />
        <activity android:name=".activity.NewMessageNoticeActivity" />
        <activity android:name=".activity.DisturbTimeActivity" />
        <activity android:name=".activity.PrivacyActivity" />
        <activity android:name=".activity.UniversalityActivity" />
        <activity android:name=".activity.QRCodeActivity" />
        <activity
            android:name=".activity.MipcaActivityCapture"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.ReviseAddressActivity" />
        <!--定位配置-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"></action>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="zrFiBx8eYGwjw3Iy635GG0vMPniPt6uV" />

        <!--今日-->
        <activity
            android:name=".fragment.month.MonthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ChooseAddressActivity" />
        <activity android:name=".activity.ChooseSomeoneActivity" />
        <activity android:name=".activity.ChooseRemindBeforeActivity" />
        <activity android:name=".activity.CalendarActivity" />
        <activity android:name=".activity.ChooseTimeActivity" />
        <activity android:name=".activity.ChooseWeekActivity" />
        <activity android:name=".activity.ManyPeopleEventDetial" />
        <activity android:name=".activity.PersonalDetialEventActivity" />
        <activity android:name=".activity.PersonalDetialsAffairActivity" />
        <activity android:name=".activity.PersonalDetialHabitActivity" />
        <activity android:name=".activity.AddPersonalActivity" />
        <activity android:name=".activity.AddManyPeopleEventActivity" />
        <activity android:name=".activity.AddPersonalAffairActivity" />
        <activity android:name=".activity.AddPersonalEventActivity" />
        <activity android:name=".activity.AddPersonalHabitActivity" />
        <activity android:name=".activity.SearchEventActivity" />
        <activity android:name=".activity.ChooseFileActivity" />

        <!-- 消息 -->
        <activity android:name=".activity.GroupDetailActivity" />
        <activity android:name=".activity.MultiChatActivity" />
        <activity
            android:name=".activity.ChatActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.GroupChatActivity" />

        <service
            android:name=".service.XmppService"
            android:enabled="true"
            android:exported="true"></service>
        <service android:name=".service.FriendService" />

        <receiver
            android:name=".receiver.ChatReceiver"
            android:enabled="true"
            android:exported="true"></receiver><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>